[info]
# config for service

# -u or --userid
userid = default

# -t or --token
# get one here for example https://developer.spotify.com/console/post-playlists/
token = default

#playlist id of the one to keep songs from
# -o or -original
originalid = default

#playlist id of the one to delete occurences of
# -d or -delete
deleteid = default